section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-gray {
    background-color: rgb(243, 245, 249);
}

.bg-blue {
    background-color: rgb(3, 38, 150);
}

.bg-dark-blue {
    background-color: rgb(8, 29, 75);
}

.text-white {
    color: white;
}

.text-gray {
    color: gray;
}

.text-lightgray {
    color: lightgray;
}

.text-blue {
    color: rgb(20, 79, 245);
}

.text-azure {
    color: rgb(190, 205, 251);
}

.my-navbar {
    margin-bottom: 0;
    border: none;
    background-color: white;
}

.navbar-brand img {
    height: 100%;
}

.my-navbar-left {
    margin-left: 100px;
}

.my-btn {
    background-color: white;
    color: rgb(20, 79, 245);
    border-style: solid 1px;
    border-color: rgb(20, 79, 245);
}

/* END HEADER
----------------
   START MAIN */

.hero-left {
    padding-right: 80px;
}

.main-top-top {
    background-image: url(img/bg-banner-home.jpg);
    background-size: contain;
}

.hero-section {
    padding-right: 0%;
}

.h1-hero {
    font-size: 55px;
    color: white;
}

.h4-xl {
    font-size: 20px;
}

.signin-box {
    background-color: white;
    border-radius: 5px;
    padding: 15px 15px;
}

.h2-hero {
    color: rgb(20, 79, 245);
    margin-top: 0;
}

.form-1 {
    margin-bottom: 10px;
}

.create-button {
    width: 100%;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    background-color: rgb(101, 154, 248);
    margin-bottom: 10px;
    border: none;
}

.signup-button {
    width: 100%;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: gray;
    border: none;
    box-shadow: 2px 2px lightgray;
    background-image: url(img/google-icon.png);
    background-size: 22px;
    background-position-y: center;
    background-position-x: 10px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

/* END MAIN 1ST SECTION
----------------
   START MAIN 2ND SECTION */

.img-contain img {
    width: 40%;
    margin: 10px;
}

@media all and (min-width: 768px) {
    .img-contain img {
        width: 15%;
        margin: 0;
    }
    .form-col {
        padding-left: 100px;
    }
}

.h4-margin {
    margin-bottom: 50px;
}

.form-2 {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0%;
    box-shadow: none;
    font-size: 20px;
    padding: 22px;
}

.my-col-margin-1 {
    margin-bottom: 20px;
}







/* [class*="col-"] {
    background-color: greenyellow;
    padding: 30px 10px;
    border: solid 1px black;
} */

